<section>
    <div class="container-fluid bloque2"> 
        <div class="row" style="width: 700px; height: auto;">
                <div class="col-sm-12 d-flex justify-content-center">
                    <h1 class="text-center title" style=" line-height: 1; ">Testimonios</h1>
            </div>
            <div class="col-sm-12 d-flex justify-content-center">
                <h2 class="text-center">People I've worked with have said some nice things...
                </h2>
        </div>
        </div>
    </div>
</section>
<br><br><br>
<div class="container-fluid bloque2">
  <mat-tab-group>
    <mat-tab label="First" > 
      <br>
     <div class="col-sm-12 d-flex justify-content-center" >
      <mat-card class="example-card">
        <img mat-card-image class="miniatura" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
        
    </div> 
    </mat-tab>
    <mat-tab label="First" > 
      <br>
     <div class="col-sm-12 d-flex justify-content-center" >
      <mat-card class="example-card">
        <img mat-card-image class="miniatura" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
        
    </div> 
    </mat-tab>
    <mat-tab label="First" > 
      <br>
     <div class="col-sm-12 d-flex justify-content-center" >
      <mat-card class="example-card">
        <img mat-card-image class="miniatura" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
        
    </div> 
    </mat-tab>
  </mat-tab-group>
</div>
