    
    
    <div class="container-fluid bloque" > 
        <br><br><br><br><br><br><br><br><br><br>
        <div class="row-12 text-center logo-mq" >
            <img mat-card-image src="../../assets/imagenes/logoblanco.png" class="img-logo"  alt="Logo principal">
        </div>
        <div class="row d-flex justify-content-center textoh1">
            <h1 class="text-center title" style=" line-height: 1.2; ">Living, learning, & leveling up one day at a time.</h1>
        </div>
        <br><br><br>
        <div class="row logotipo-rss">
            <div class="col">
                <a href="linkedin.com/in/alfonso-hidalgo-ortiz-744552221"><img mat-card-image src="../../assets/imagenes/linkedin.png" class="img-icon"  alt="Logo principal"></a>
            </div>
            <div class="col">
                <a href="https://twitter.com/softax_company"><img mat-card-image src="../../assets/imagenes/twitter4.png" class="img-icon"  alt="Logo principal"></a>
            </div>
            <div class="col">
                <a href="https://www.instagram.com/softax_company/"><img mat-card-image src="../../assets/imagenes/instagram.png" class="img-icon"  alt="Logo principal"></a>
            </div>
            <div class="col">
                <a href="https://github.com/Alfonsoftax"><img mat-card-image src="../../assets/imagenes/github.png" class="img-icon"  alt="Logo principal"></a>
            </div>
        </div>
        <br><br><br><br><br>
        <div class="row d-flex justify-content-center textoh2">
            <h5 class="text-center" style=" line-height: 1; "><mat-icon style="vertical-align: middle;" aria-hidden="false" aria-label="Example home icon" fontIcon="home">copyright</mat-icon>
                Made by SoftAX Company</h5>
        </div>
    </div>
    <div class="container-fluid barra "> 
        <div class="row d-flex flex-sm-row flex-column justify-content-center align-items-center" style="width: 100%;">
            <div class="col text-center">
                <h1 class="text-center title" style=" line-height: 1; margin-top: 0px; ">Empezar proyecto</h1>
            </div>
            <div class="col  text-center">
                <h3 class="text-center" style=" line-height: 1.3;  color: white;">¿Interesado en colaborar con nosotros? Cuéntanos más!

                </h3>
            </div>
            <div class="col text-center mq">
                <a routerLink="trabajar-juntos" routerLinkActive="active">
                    <button type="button" class="btn btn-outline-primary mq">
                        <mat-icon aria-hidden="false"  style="vertical-align: middle;" aria-label="Example home icon" fontIcon="code">code</mat-icon>
                        Trabaja con nosotros
                    </button>
                </a>
            </div>
        </div>
    </div>
