    
    
    <div class="container-fluid bloque" > 
        <br><br><br><br><br><br><br><br><br><br>
        <div class="row-12 text-center">
            <img mat-card-image src="../../assets/imagenes/logo.png" class="img-logo"  alt="Logo principal">
        </div>
        <div class="row d-flex justify-content-center textoh1">
            <h1 class="text-center title" style=" line-height: 1; ">Living, learning, & leveling up one day at a time.</h1>
        </div>
        <br><br><br>
        <div class="row" style="width: 50%; margin-left: auto; margin-right: auto;">
            <div class="col">
                <a href="#"><img mat-card-image src="../../assets/imagenes/linkedin.png" class="img-icon"  alt="Logo principal"></a>
            </div>
            <div class="col">
                <a href="#"><img mat-card-image src="../../assets/imagenes/linkedin.png" class="img-icon"  alt="Logo principal"></a>
            </div>
            <div class="col">
                <a href="#"><img mat-card-image src="../../assets/imagenes/linkedin.png" class="img-icon"  alt="Logo principal"></a>
            </div>
            <div class="col">
                <a href="#"><img mat-card-image src="../../assets/imagenes/linkedin.png" class="img-icon"  alt="Logo principal"></a>
            </div>
            <div class="col">
                <a href="#"><img mat-card-image src="../../assets/imagenes/linkedin.png" class="img-icon"  alt="Logo principal"></a>
            </div>
        </div>
        <br><br><br><br><br>
        <div class="row d-flex justify-content-center textoh2">
            <h5 class="text-center" style=" line-height: 1; "><mat-icon style="vertical-align: middle;" aria-hidden="false" aria-label="Example home icon" fontIcon="home">copyright</mat-icon>
                Made by Alfonso Hidalgo Ortiz</h5>
        </div>
    </div>
    <div class="container-fluid barra "> 
        <div class="row"  style="width: 100%;">
            <div class="col text-center">
                <h1 class="text-center title" style=" line-height: 1; ">Start a project</h1>
            </div>
            <div class="col  text-center">
                <h3 class="text-center" style=" line-height: 1; color: white;">Interested in working together? We should queue up a time to chat. I’ll buy the coffee.

                </h3>
            </div>
            <div class="col  text-center">
                <button type="button" class="btn btn-outline-primary">
                    <mat-icon aria-hidden="false" style="vertical-align: middle;" aria-label="Example home icon" fontIcon="code">code</mat-icon>
                    Let's do this
                </button>
            </div>
        </div>
    </div>
