.bloque {
    height: 680px;
    background-color: #3819e9;
    display: flex;
    justify-content: center;
    align-items: center;
    display:block;    
  }
  .img-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }
  .img-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .textoh1 {
    color: white;
    font-weight: bold;
  }
  .textoh2 {
    color: black;
  }
  .barra {
    height: 180px;
    width: 85%;
    background-color: rgb(31, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: -730px;
    
  }

  @media (max-width: 604px) {
    .barra {
      width: 50%;
      height: auto;
    }

    

    .logo-mq {
      margin-top: 140px;
    }
    .mq{
      margin-bottom: 15px;
    }
    .img-icon{
      width: 120%;
    }


  }

  

  .title {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.logotipo-rss {
  width: 50%; margin-left: auto; margin-right: auto;
}