<mat-toolbar class="nav" >
    <mat-toolbar-row>
      <img mat-card-image src="../../assets/imagenes/logo.png" class="logoPrincipal"  alt="Logo principal">
      <span class="example-spacer"></span>
      <div >
        <a routerLink="contacto" routerLinkActive="active">
          <button type="button" class="btn btn-outline-primary">
            Contacta con nosotros
          </button>
        </a>
        <a routerLink="registrar" routerLinkActive="active">
        <button type="button" style="margin-left: 10px" class="btn btn-primary">Planes</button>
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  