<!-- <mat-toolbar class="nav container" style="margin-left: auto; margin-right: auto;">
    <mat-toolbar-row>
      <a routerLink="inicio"><img mat-card-image src="../../assets/imagenes/logo.png" class="logoPrincipal"  alt="Logo principal"></a>
      <span class="example-spacer"></span>
      <div >
        <a routerLink="contacto" routerLinkActive="active">
          <button type="button" class="btn btn-outline-primary">
            Contacta con nosotros
          </button>
        </a>
        <a routerLink="planes-pago" routerLinkActive="active">
        <button type="button" style="margin-left: 10px" class="btn btn-primary">Planes</button>
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar> -->
<nav class="navbar navbar-expand-md ">
        <div class="container-fluid">
        <!-- icono o nombre -->
      <div style="margin-top: 25px;">
        <a routerLink="inicio"><img mat-card-image src="../../assets/imagenes/logo1ppal.png" class="logoPrincipal"  alt="Logo principal"></a>
      </div>
            
        <!-- boton del menu -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

          <!-- elementos del menu colapsable -->

        <div class="collapse navbar-collapse" id="menu">
          <ul class="navbar-nav me-auto d-flex">
            <li class="nav-item">
              <a class="nav-link" routerLink="contacto" routerLinkActive="active" href="#" style="font-size: 30px; ">Contacta con nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="planes-pago" routerLinkActive="active" style="font-size: 30px; ">Planes</a>
            </li>

          </ul>

          <hr class="d-md-none text-white-50">



          
         <!--boton Informacion -->


          
          
        </div>
     
        </div>  
      </nav>
  <!-- <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"> 
          <li>a</li>
        </span>
      </button>
    </nav>
  </div> -->