.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .botones {
    font-size: 40px;
  }
  .nav {
    background-color: white;
  }
  .basic {
    color: black;
  }
  
  .logoPrincipal{
    width: 200px;
    margin-right: 20px;
    margin-left: 20px;
  }

.alinear {
  text-align: end;
}
