<section>
    <div class="text-center">
        <h1 class="title"> I'm proud to have collaborated with some awesome companies: </h1> <br>
    </div>
</section>
<section>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <img height="100px" src="../../assets/imagenes/juntaAndalucia.png">
        </mat-grid-tile>
        <mat-grid-tile>
            <img height="300px" src="../../assets/imagenes/ministerioSanidad.png">
        </mat-grid-tile>
    </mat-grid-list>
</section>

<div class="container-fluid bloque"> 
    <div class="row" style="width: 700px; height: auto;">
            <div class="col-sm-12 d-flex justify-content-center textoh1">
                <h1 class="text-center title" style=" line-height: 1; ">My Startup Projects</h1>
        </div>
        <div class="col-sm-12 d-flex justify-content-center textoh1">
            <h1 class="text-center">I'm a bit of a digital product junky. Over the years, I've used hundreds of web and mobile apps in different industries and verticals. Eventually, 
                I decided that it would be a fun challenge to try designing and building my own.</h1>
    </div>
    </div>
</div>
<div class="row d-flex justify-content-center" style="margin-top: -70px;">
    <div class="col-lg-3 d-flex justify-content-center"  style="width: auto;">
        <mat-card class="example-card2" style="width: 350px;">
                <mat-card-title-group>
                  <mat-card-title>
                    <img mat-card-lg-image style="height: 40px;" src="../../assets/imagenes/SIOCA.png" >
                </mat-card-title>
                  <mat-card-subtitle  class="subtitulocard">Aplicación web de registro de instalaciones industriales</mat-card-subtitle>
                    <mat-card-subtitle  class="subtitulocard">
                        <a href="https://www.juntadeandalucia.es/sioca/login">
                            <button mat-stroked-button color="primary">                             
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">home</mat-icon>
                                sioca.com</button>
                        </a> 
                    </mat-card-subtitle>
                </mat-card-title-group>
              </mat-card>
            </div>
            <div class="col-lg-3 d-flex justify-content-center"  style="width: auto;">
        <mat-card class="example-card2" style="width: 350px;">
            <mat-card-title-group>
              <mat-card-title>
                SIENA
            </mat-card-title>
              <mat-card-subtitle  class="subtitulocard">Aplicación web de registro de instalaciones industriales</mat-card-subtitle>
                <mat-card-subtitle  class="subtitulocard">
                    <a href="https://ws050.juntadeandalucia.es/vea/faces/vi/inicioOrganismo.xhtml">
                        <button mat-stroked-button color="primary">                            
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">home</mat-icon>
                            siena.com</button>
                    </a>
                </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card>
        </div>
        <div class="col-lg-3 d-flex justify-content-center"  style="width: auto;">
        <mat-card class="example-card2" style="width: 350px;">
            <mat-card-title-group>
            <mat-card-title>
                KOFRADE
            </mat-card-title>
            <mat-card-subtitle  class="subtitulocard">Aplicación web de registro de instalaciones industriales</mat-card-subtitle>
                <mat-card-subtitle  class="subtitulocard">
                    <button mat-raised-button disabled>                            
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">home</mat-icon>
                        In development</button>
                </mat-card-subtitle>
            </mat-card-title-group>
        </mat-card>
    </div>
</div>
<br><br><br><br><br><br>
  <section>
    <div class="container-fluid bloque2"> 
        <div class="row" style="width: 700px; height: auto;">
                <div class="col-sm-12 d-flex justify-content-center">
                    <h1 class="text-center title" style=" line-height: 1; ">Interested in collaborating with me?                    </h1>
            </div>
            <div class="col-sm-12 d-flex justify-content-center">
                <h2 class="text-center">I’m always open to discussing product design work or partnership opportunities.</h2>
        </div>
        </div>
    </div>
</section>
<br><br>
<section>
    <div class="container-fluid boton"> 
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-center">
                <a  routerLink="planes-pago" routerLinkActive="active">
                <button type="button" class="btn btn-outline-primary">Empezar conversación</button>
                </a>
            </div>
        </div>
    </div>
</section>

  



