<section>
    <div class="text-center">
        <h1 class="title"> Desarrollador Web y móvil. </h1> <br>
        <h2>No espere más y haga realidad su negocio online con mi ayuda</h2>
        <img mat-card-image class="imagen-pc" src="../../assets/imagenes/icono1.png"  alt="Foto imagen ordenador">
    </div>
</section>

<section class="container">
    <div class="img-setup" >
        <img mat-card-image class="img-setup"  src="../../assets/imagenes/setup.png"  alt="Foto imagen ordenador">
    </div>
</section>
<div class="container-fluid bloque" style="margin-top: -77px;"> 
    <div class="row" style="width: 700px; height: auto;">
            <div class="col-sm-12 d-flex justify-content-center textoh1">
                <h1 class="text-center title" style=" line-height: 1; ">{{titulo}} </h1>
        </div>
        <div class="col-sm-12 d-flex justify-content-center textoh1">
            <h1 class="text-center">{{subtitulo}} </h1>
    </div>
    </div>
</div>

<div class="row d-flex justify-content-center" style="margin-top: -70px;">
  <div class="col-lg-3 d-flex justify-content-center"  style="width: auto;">
    <mat-card class="example-card2" style="width: 400px;">
      <img mat-card-image src="../../assets/imagenes/webdesign.png" class="miniatura" alt="Web design">
        <mat-card-title-group>
          <mat-card-title>Desarrollador Web</mat-card-title>
          <mat-card-subtitle  class="subtitulocard">Experto en el desarrollo web. Óptimo y estructurado  </mat-card-subtitle>
            <mat-card-subtitle  class="subtitulocard" style="color: #3819e9;">Plataformas que diseño:</mat-card-subtitle>
            <mat-card-subtitle style="font-size: 20px;">UX, UI, Web, Apps, Web responsive</mat-card-subtitle>
            <mat-card-subtitle  class="subtitulocard" style="color: #3819e9;">Experto en las siguientes tecnologías front: </mat-card-subtitle>
            <mat-card-subtitle style="font-size: 20px;">Angular</mat-card-subtitle>
            <mat-card-subtitle style="font-size: 20px;">JavaScript</mat-card-subtitle>
            <mat-card-subtitle style="font-size: 20px;">TypeScript</mat-card-subtitle>
            <mat-card-subtitle style="font-size: 20px;">HTML</mat-card-subtitle>
            <mat-card-subtitle style="font-size: 20px;">JSP</mat-card-subtitle>
            <mat-card-subtitle style="font-size: 20px;">PrimeFaces</mat-card-subtitle>
            <mat-card-subtitle style="font-size: 20px;">Bootstrap</mat-card-subtitle>
            <mat-card-subtitle style="font-size: 20px;">XHTML</mat-card-subtitle>
            <mat-card-subtitle style="font-size: 20px;">Thymeleaf</mat-card-subtitle>
            <mat-card-subtitle style="font-size: 20px;">CSS</mat-card-subtitle>
          </mat-card-title-group>
      </mat-card>
  </div>

<div class="col-lg-3 d-flex justify-content-center" style="width: auto;">
  <mat-card class="example-card2" style="width: 400px;">
    <img mat-card-image src="../../assets/imagenes/mobiledesign.png" class="miniatura" alt="Mobile design">
      <mat-card-title-group>
        <mat-card-title>Desarrollador Móvil</mat-card-title>
        <mat-card-subtitle  class="subtitulocard">Desarrollo aplicaciones para móvil</mat-card-subtitle>
          <mat-card-subtitle  class="subtitulocard" style="color: #3819e9;">Desarrollo para las siguientes plataformas:</mat-card-subtitle>
          <mat-card-subtitle style="font-size: 20px;">IOS y Android</mat-card-subtitle>
          <mat-card-subtitle  class="subtitulocard" style="color: #3819e9;">Experto en las siguientes tecnologías móvil</mat-card-subtitle>
          <mat-card-subtitle style="font-size: 20px;">Flutter</mat-card-subtitle>
          <mat-card-subtitle style="font-size: 20px;">Android</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card>
</div>
<div class="col-lg-3 d-flex justify-content-center" style="width: auto;">
<mat-card class="example-card2" style="width: 400px;">
  <img mat-card-image src="../../assets/imagenes/webdesign.png" class="miniatura" alt="Backend design">
    <mat-card-title-group>
      <mat-card-title>Backend developer</mat-card-title>
      <mat-card-subtitle  class="subtitulocard">Experto en tecnologías Backend.</mat-card-subtitle>
        <mat-card-subtitle  class="subtitulocard" style="color: #3819e9;">Me encargo de lo siguiente:</mat-card-subtitle>
        <mat-card-subtitle style="font-size: 20px;">Flujo, Bases de Datos, lógica de negocio</mat-card-subtitle>
        <mat-card-subtitle  class="subtitulocard" style="color: #3819e9;">Experto en las siguientes tecnologías</mat-card-subtitle>
        <mat-card-subtitle style="font-size: 20px;">JAVA</mat-card-subtitle>
        <mat-card-subtitle style="font-size: 20px;">Spring</mat-card-subtitle>
        <mat-card-subtitle style="font-size: 20px;">SpringBoot</mat-card-subtitle>
        <mat-card-subtitle style="font-size: 20px;">SQL</mat-card-subtitle>
        <mat-card-subtitle style="font-size: 20px;">Hibernate</mat-card-subtitle>
        <mat-card-subtitle style="font-size: 20px;">Node</mat-card-subtitle>
      </mat-card-title-group>
  </mat-card>
  </div>

</div>



