<section>
    <div class="text-center">
        <h1 class="title"> Desarrollador Web y móvil. </h1> <br>
        <h2>No espere más y haga realidad su negocio online con mi ayuda</h2>
        <img mat-card-image class="imagen-pc" src="../../assets/imagenes/icono1.png"  alt="Foto imagen ordenador">
    </div>
</section>

<section class="container">
    <div class="img-setup" >
        <img mat-card-image class="img-setup"  src="../../assets/imagenes/setup.png"  alt="Foto imagen ordenador">
    </div>
</section>
<div class="container-fluid bloque" style="margin-top: -77px;"> 
    <div class="row" style="width: 700px; height: auto;">
            <div class="col-sm-12 d-flex justify-content-center textoh1">
                <h1 class="text-center title" style=" line-height: 1; ">{{titulo}} </h1>
        </div>
        <div class="col-sm-12 d-flex justify-content-center textoh1">
            <h1 class="text-center">"Compañía especializada en el desarrollo de proyectos profesionales web y móviles. ¡Estamos encantados de tenerte por nuestra web! <a class="nav-link" routerLink="planes-pago" routerLinkActive="active">Échale un vistazo a nuestras tarifas y ofertas. </a> </h1>
    </div>
    </div>
</div>

<div class="row d-flex justify-content-center" style="margin-top: -70px;">
  <div class="col-lg-3 d-flex justify-content-center"  style="width: auto;">
    <mat-card class="example-card2" style="width: 400px;">
      <img mat-card-image src="../../assets/imagenes/webdesign.png" class="miniatura" alt="Web design">
        <mat-card-title-group>
          <mat-card-title>Desarrollador Web</mat-card-title>
          <mat-card-subtitle  class="subtitulocard">Especialista en el desarrollo web profesionales</mat-card-subtitle>
            <mat-card-subtitle  class="subtitulocard" style="color: #3819e9;">Plataformas que diseño:</mat-card-subtitle>
            <mat-card-subtitle style="font-size: 20px;">Experto en la creación de cualquier tipo de web. Experto en creación de <b>Ecommerce</b>.</mat-card-subtitle>
            <mat-card-subtitle  class="subtitulocard" style="color: #3819e9;">Trabajamos con las siguientes tecnologías:</mat-card-subtitle>
            <mat-card-subtitle style="font-size: 20px;">Angular, Javascript, TypeScript</mat-card-subtitle>
            <mat-card-subtitle style="font-size: 20px;">HTML, JSP, XHTML</mat-card-subtitle>
            <mat-card-subtitle style="font-size: 20px;">CSS, PrimeFaces, Bootstrap</mat-card-subtitle>
          </mat-card-title-group>
      </mat-card>
  </div>

<div class="col-lg-3 d-flex justify-content-center" style="width: auto;">
  <mat-card class="example-card2" style="width: 400px;">
    <img mat-card-image src="../../assets/imagenes/mobiledesign.png" class="miniatura" alt="Mobile design">
      <mat-card-title-group>
        <mat-card-title>Desarrollador Móvil</mat-card-title>
        <mat-card-subtitle  class="subtitulocard">Especialista en aplicaciones móvil profesionales</mat-card-subtitle>
          <mat-card-subtitle  class="subtitulocard" style="color: #3819e9;">Aplicaciones que creamos:</mat-card-subtitle>
          <mat-card-subtitle style="font-size: 20px;"> Experto en la creación de cualquier tipo de aplicaciones móvil </mat-card-subtitle>
          <mat-card-subtitle  class="subtitulocard" style="color: #3819e9;">Trabajamos con las siguientes tecnologías:</mat-card-subtitle>
          <mat-card-subtitle style="font-size: 20px;">Android, IOS</mat-card-subtitle>
          <mat-card-subtitle style="font-size: 20px;">Flutter</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card>
</div>
<div class="col-lg-3 d-flex justify-content-center" style="width: auto;">
<mat-card class="example-card2" style="width: 400px;">
  <img mat-card-image src="../../assets/imagenes/webdesign.png" class="miniatura" alt="Backend design">
    <mat-card-title-group>
      <mat-card-title>Backend developer</mat-card-title>
      <mat-card-subtitle  class="subtitulocard">Experto en tecnologías Backend.</mat-card-subtitle>
        <mat-card-subtitle  class="subtitulocard" style="color: #3819e9;">Expertos en el desarrollo de negocios</mat-card-subtitle>
        <mat-card-subtitle style="font-size: 20px;">Flujo, Bases de Datos, lógica de negocio</mat-card-subtitle>
        <mat-card-subtitle  class="subtitulocard" style="color: #3819e9;">Experto en las siguientes tecnologías</mat-card-subtitle>
        <mat-card-subtitle style="font-size: 20px;">JAVA, Spring, SpringBoot</mat-card-subtitle>
        <mat-card-subtitle style="font-size: 20px;">SQL, Hibernate</mat-card-subtitle>
        <mat-card-subtitle style="font-size: 20px;">Node</mat-card-subtitle>
      </mat-card-title-group>
  </mat-card>
  </div>

</div>



