<br><br><br><br> <br><br>
<section>
    <div class="text-center">
        <h1 class="title"> I haven't met you, and this is crazy...</h1> <br>
        <h2>But if you need a mentor, then email me maybe.</h2>
        <!-- <img mat-card-image class="imagen-pc" src="../../assets/imagenes/icono1.png"  alt="Foto imagen ordenador"> -->
    </div>
</section>
<br><br><br>
<section class="container">
    <div class="img-setup" >
        <img mat-card-image class="img-setup"  src="../../assets/imagenes/plandepago.png"  alt="Foto imagen ordenador">
    </div>
</section>

<div class="container-fluid bloque" style="margin-top: -16px;"> 
    <div class="row" style="width: 700px; height: auto;">
            <div class="col-sm-12 d-flex justify-content-center textoh1">
                <h1 class="text-center title" style=" line-height: 1; ">Being a designer is tough.</h1>
        </div>
        <div class="col-sm-12 d-flex justify-content-center textoh1">
            <h1 class="text-center">It seems like every other day there's a new design trend to learn, tool to master, 
                and endless design-related articles to read. Honestly, it can be overwhelming and intimidating. 
                I know because I've walked more than a few miles in those shoes. 
                So whether you're new to the field or simply looking for some guidance and support, I can help. </h1>
    </div>
    </div>
</div>

<div class="row d-flex justify-content-center" style="margin-top: -70px;">
  <div class="col-lg-3 d-flex justify-content-center"  style="width: auto;">
    <mat-card class="example-card2" style="width: 400px;">
      <img mat-card-image src="../../assets/imagenes/portfolio.jpg" class="miniatura" alt="Web design">
        <mat-card-title-group>
          <mat-card-title>Portfolio personal</mat-card-title>          
            <mat-card-subtitle  class="precio" style="color: #3819e9;">60€</mat-card-subtitle>
            <mat-card-subtitle  class="subtitulocard">I value simple content structure, 
              clean design patterns, and thoughtful interactions.</mat-card-subtitle>
            <mat-card-subtitle  class="subtitulocard" style="color: #3819e9;">Good for</mat-card-subtitle>
            <mat-card-subtitle style="font-size: 20px;">Affinity Designer</mat-card-subtitle>
          </mat-card-title-group>
          <button type="button" style="margin-top: 10px" class="btn btn-primary">Contactar</button>
      </mat-card>
  </div>


  <div class="col-lg-3 d-flex justify-content-center"  style="width: auto;">
    <mat-card class="example-card2" style="width: 400px;">
      <img mat-card-image src="../../assets/imagenes/boda.png" style="margin-top: 13px;" class="miniatura" alt="Web design">
        <mat-card-title-group>
          <mat-card-title>Bodas</mat-card-title>          
            <mat-card-subtitle  class="precio" style="color: #3819e9;">300€</mat-card-subtitle>
            <mat-card-subtitle  class="subtitulocard">I value simple content structure, 
              clean design patterns, and thoughtful interactions.</mat-card-subtitle>
            <mat-card-subtitle  class="subtitulocard" style="color: #3819e9;">Good for</mat-card-subtitle>
            <mat-card-subtitle style="font-size: 20px;">Affinity Designer</mat-card-subtitle>
          </mat-card-title-group>
          <button type="button" style="margin-top: 10px" class="btn btn-primary">Contactar</button>
      </mat-card>
  </div>

  <div class="col-lg-3 d-flex justify-content-center"  style="width: auto;">
    <mat-card class="example-card2" style="width: 400px;">
      <img mat-card-image src="../../assets/imagenes/tienda.png" class="miniatura" alt="Web design">
        <mat-card-title-group>
          <mat-card-title>Ecommerce</mat-card-title>          
            <mat-card-subtitle  class="precio" style="color: #3819e9;">500€</mat-card-subtitle>
            <mat-card-subtitle  class="subtitulocard">I value simple content structure, 
              clean design patterns, and thoughtful interactions.</mat-card-subtitle>
            <mat-card-subtitle  class="subtitulocard" style="color: #3819e9;">Good for</mat-card-subtitle>
            <mat-card-subtitle style="font-size: 20px;">Affinity Designer</mat-card-subtitle>
        </mat-card-title-group>
        <button type="button" style="margin-top: 10px" class="btn btn-primary">Contactar</button>
      </mat-card>
  </div>
</div>
<br><br><br><br><br>
<section>
  <div class="container-fluid bloque2"> 
      <div class="row" style="width: 700px; height: auto;">
              <div class="col-sm-12 d-flex justify-content-center">
                  <h2 class="text-center " style=" line-height: 1; ">Si estás buscando un proyecto a medida...</h2>
          </div>
          <div class="col-sm-12 d-flex justify-content-center">
              <h1 class="text-center title2">¡No esperes más y contacta conmigo!</h1>
      </div>
      </div>
  </div>
</section>
<br><br>
<div class="container-fluid bloque2"> 
  <div class="row" style="width: 700px; height: auto;">
      <div class="col-sm-12 d-flex justify-content-center">
          <button  type="button" class="btn btn-outline-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
            </svg>
              Contratar proyecto a medida
          </button>
      </div>
  </div>
</div>
<br><br><br><br>

<div class="container-fluid bloque"> 
  <div class="row" style="width: 700px; height: auto;">
      <div class="col-sm-12 d-flex justify-content-center textoh1">
          <h1 class="text-center title" style=" line-height: 1; ">My Mentoring Style</h1>
      </div>

      <div class="col-sm-12 d-flex justify-content-center textoh1">
          <h1 class="text-center">I strive to function as a catalyst and challenge you to grow as both 
            a designer and a human. I care about the details and will encourage you to think, plan, 
            and dream. These are the qualities I will bring to every conversation.
          </h1>
      </div>
  </div>
</div>


<div class="row d-flex justify-content-center" style="margin-top:-70px">
  <div class="contenedor col-lg-3 col-md-3 col-sm-12 d-flex justify-content-center">
      <a href="https://www.ayesa.com/es/">
          <figure>
              <img src="../../assets/imagenes/effort.jpg">
              <div class="capa">
                  <h3>SLee Dw</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, vero!</p>
                  <br><a mat-button href="https://www.ayesa.com/es/" style="color: black;" target="_blank">Visitar página Web</a>
              </div>
          </figure>
      </a>
  </div>
  <div class="contenedor col-lg-3 col-md-3 col-sm-12 d-flex justify-content-center">
        <figure>
          <img src="../../assets/imagenes/effort.jpg">
          <div class="capa">
                <h3>SLee Dw</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, vero!</p>
            </div>
        </figure>
</div>
</div>

<div class="row d-flex justify-content-center">
  <div class="contenedor col-lg-3 col-md-3 col-sm-12 d-flex justify-content-center">
          <figure>
            <img src="../../assets/imagenes/effort.jpg">
            <div class="capa">
                  <h3>SLee Dw</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, vero!</p>
              </div>
          </figure>
  </div>
  <div class="contenedor col-lg-3 col-md-3 col-sm-12 d-flex justify-content-center">
        <figure>
          <img src="../../assets/imagenes/effort.jpg">
          <div class="capa">
                <h3>SLee Dw</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, vero!</p>
            </div>
        </figure>
</div>
</div>
<br><br><br><br><br><br><br><br>
<app-footer></app-footer>



