<section>
    <div class="container-fluid bloque"> 
        <div class="row" style="width: 700px; height: auto;">
                <div class="col-sm-12 d-flex justify-content-center">
                    <h1 class="text-center title" style=" line-height: 1; ">My Recent Work</h1>
            </div>
            <div class="col-sm-12 d-flex justify-content-center">
                <h2 class="text-center">Here are a few past design projects I've worked on. Want to see more? <a class="link" href="">Email me.</a> </h2>
        </div>
        </div>
    </div>
</section>
<br><br><br>
<div class="row d-flex justify-content-center">
    <div class="contenedor col-lg-3 d-flex justify-content-center">
        <a href="https://www.ayesa.com/es/">
            <figure>
                <img src="../../assets/imagenes/AYESA.jpg">
                <div class="capa">
                    <h3>SLee Dw</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, vero!</p>
                    <br><a mat-button href="https://www.ayesa.com/es/" style="color: black;" target="_blank">Visitar página Web</a>
                </div>
            </figure>
        </a>
    </div>
    <div class="contenedor col-lg-3 d-flex justify-content-center">
        <a href="https://www.indracompany.com/">
            <figure>
                <img src="../../assets/imagenes/indra.png">
                <div class="capa">
                    <h3>SLee Dw</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, vero!</p>
                    <br><a mat-button href="https://www.indracompany.com/" style="color: black;" target="_blank">Visitar página Web</a>
                </div>
            </figure>
        </a>
    </div>
    <div class="contenedor col-lg-3 d-flex justify-content-center">
        <a href="#">
            <figure>
                <img src="../../assets/imagenes/bbdd.png">
                <div class="capa">
                    <h3>SLee Dw</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, vero!</p>
                    <br><a mat-button href="https://www.google.com/" style="color: black;" target="_blank">Visitar página Web</a>
                </div>
            </figure>
        </a>
    </div>
</div>
<br><br><br><br><br><br><br><br>
<section>
    <div class="container-fluid bloque"> 
        <div class="row" style="width: 700px; height: auto;">
            <div class="col-sm-12 d-flex justify-content-center">
                <button type="button" class="btn btn-outline-primary">Ver más</button>
            </div>
        </div>
    </div>
</section>


